#x {
    background-color: #fff;
}

.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
}

.app-icon {
        width: 120px;
        border-radius: 20%;
}

